
h1 {
    font-size: 2.6rem !important;
    letter-spacing:-2px;
}
h5{font-weight:200;font-size:.9rem}
a { text-decoration: none !important;

    }

    .grow { transition: all .2s ease-in-out; }
    .grow:hover { transform: scale(1.04); }

.insta{width:70px;height:70px;}


.box-align img{max-width:50px; display: block;
  margin-left: 0;
  margin-right: auto;}




.homeIntro span{color:#ffffff !important}
.homeIntro h1{text-align:left !important;}



.homeIntro p{text-align:left !important; color:#ffffff !important;font-size:20px;}


.homeIntro hr {
  border: none;
  height: 2px;
  background-color: #ffffff;
}




.home-into-found{border-bottom:none !important;background-color: rgb(239, 239, 239);}



.homeBlock{
padding: 40px 40px 10px 40px;

}





.row-bg-wrap {
  position: relative;
  width: 100%;
   height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

/* Gradient Layer */
.has-animated-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(270deg, #D96455, #558AD9, #BADa55, #FFA094);
  background-size: 800% 800%;
  z-index: -1;
  animation: gradientAnimation 60s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}











.card{border:none !important;background-color:transparent !important;}

.matts-intro{width:86px;height:86px;z-index:2000; position:fixed;margin:10px;}



.matts-intro img{width:60px;height:60px;}










.foundLogo{height:66px !important;margin-top: 40px;}
.sensisLogo{width:350px;height:80px !important;}

.lumoLogo{width:100px;height:100px !important;}


.secondScape{
  background:#ee3a34;
  margin:0 !important;
  border-bottom:none !important;
}
.pageScape{
  background:#f8f9fa;
  margin:0 !important;
  border-bottom:none !important;
}
}
.phoneScape{
  background:#efefef;
  margin:0 !important;
  border-bottom:none !important;
}

.yellowScape{
  background:#ffce00;
  margin:0 !important;
  border-bottom:none !important;

}

.album{text-align:left;}

.exFooter{height: 20vh !important;}
.exFooter p{color:#7f7f7f;letter-spacing:3px;font-size:14px;}
.exFooter a{color:#7f7f7f;letter-spacing:3px;font-size:14px;font-weight:600;}

.secondPrint {}
.secondPrint h4{color:rgb(108, 117, 125);text-align:left;}
.secondPrint h5{color:rgb(108, 117, 125);text-align:left;padding-bottom:20px;}

.variousD h5{color:rgb(108, 117, 125);text-align:left;padding-bottom:20px;}

.pageScape h4{color:rgb(108, 117, 125);text-align:left;}
.pageScape h5{color:rgb(108, 117, 125);text-align:left;padding-bottom:20px;}

.yellowScape h4{color:#2c2c2c;text-align:left;}
.yellowScape h5{color:#2c2c2c;text-align:left;padding-bottom:20px;}



a.myButton{
  background: #ECECEC;
  padding: 10px 20px;
  display: block;
  font-family: arial;
  font-weight: bold;
  color:#7f7f7f;
  text-decoration: none;
  text-shadow:0px 1px 0px #fff;
  width: 145px;
  margin:0px auto;

  box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition:box-shadow 0.5s;
}

a.myButton:hover{
  box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
a.myButton:active{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
  background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}


.secondPrint hr {
  border: none;
  height: 1px;
  background-color: #898989;
}









<!--  - - - - - - - - - - -h1 effect-->

.dynamic-words {
  border-right: 3px solid #000;
  padding-right: 6px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;


}


































.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}







@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

@media only screen and (max-width: 480px){
  h1 {

  }
}
